@import '../plugins/foundation/scss/foundation.scss';
@import "globals";

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

body > nav{
    height:60px;
    background-color: $pinkdark;
    position: relative;
    .column{
        padding: 22px;
        padding-bottom: 0px;
        &#logo{
            background-color: $pinklight;
            text-align: center;
            height: 100%;
            padding: 7px;
            h1{
                font-size: 30px;
                color:$contrast;
                font-family: 'Montserrat';
                font-weight: 700;    
            }

        }

        &#search{
            input{ border-right:none; }

        }
        ul#drop {
            width: 130px;
            padding-left: 7px;
            top: 34px !important;
            left: 0px !important;
            li a{
                font-size: 12px;
                color:$base;
            }
        }   
        &#menu{
            padding: 17px;
            padding-bottom: 0px;
            ul{
                list-style-type: none;
                margin-bottom: 0px;
                li{ 
                    display:inline;
                    a{
                        padding: 6px 15px;
                        font-size: 25px;
                        display:inline-block;
                        color:$contrast;
                        margin: 5px;
                        border: 1px solid $pinkdark;
                        &:hover{ background-color: $pinklight; border:1px solid $contrast; }
                    }
                }
            }
        }

        &#account{
            padding: 27px;
            a{ color:white; }
            i{ cursor: pointer; }
            #dropUser{
                left: 8 !important;
                top: 55px !important;
                &:before,&:after{
                    left: 181px !important;
                }

                li a{
                    font-size: 12px;
                    color:$base;
                }
            }
        }
    }
    @media #{$large-up}{
        height:80px;
        .column#logo { padding: 15px; }
    }

    .mobile-menu-icon{
        position: absolute;
        padding: 18px;
        i.fa-navicon{
            font-size: 25px;
            cursor: pointer;
        }
    }
}

.mobile-menu{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: $pinkdark;
    top: 60px;
    left: 0;
    z-index: 1000;
    text-align: center;

    .postfix{ 
        padding: 10px; 
        min-width: 40px;
        @media #{$medium-up} {
            min-width: 70px;
        }
    }

    ul{
        list-style-type: none;
        margin: 0;

        li a{
            color: $contrast;
            font-size: 25px;
            padding: 2px;
            &:hover{
                border-bottom: 2px solid white;
            }
        }
    }
    @media #{$large-up} {
        display: none !important;
    }
}

#view{
    background-color: $pinkdark;
    width:100%;
    height: 45px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    .large-3{
        padding: 10px;
        text-align: center;

        &.active { background-color: $pinklight; }
        a{
            color: $contrast;
            i.fa{ font-size:15px; cursor:pointer; }

            .sflup{ display:none; 
                @media #{$large-up} {
                    display: initial;
                }
            }
        }
    }

    @media #{$medium-up} {
        height:60px;
        .large-3{ padding: 20px; a i.fa{ font-size: 20px; } }

    }
}

.footer-fix{
    height:45px;
    @media #{$medium-up} {
        height:60px;
    }
}

.upload-area{
    border: 3px dashed $contrast;
    width: 70%;
    height: 230px;
    margin: 20px auto;
    background-color: transparent;
    transition: all .3s;
    &.complete{
        border-color: transparent;
    }

    i.fa.fa-cloud-upload{
        font-size: 90px;
        display: block;
        margin-bottom: 5px;
    }
}

.reveal-modal{
    p{
        margin-bottom:5px;
        small{
            font-size: 75%;
        }
    }

    &.blue{ background-color: $bluedark;  }
    &.teal{ background-color: $tealdark;  }
    &.gray{ background-color: $graydark;  }
}

.modal-page{
    height: 100%;
    top: 0;
    position: absolute;
    width:calc(100% - 300px);
    right:-100%;
    transition: all .3s;
    &.open{
        right: 0;
    }
}

.modal-bottom{
    height: 230px;
    width: 100%;
    max-width: 100%;
    bottom: -230px;
    left: 0;
    top: auto !important;
    transition: bottom .3s;
    position: fixed;
    display: block;
    visibility: visible;
    &.open{
        bottom: 0px;
    }
    .modal-close {
        width: 100%;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        background-color: #143940;
        padding: 11px;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        opacity: 0.8;
        &:hover{  opacity: 1;  }
    }
}

#mdlAddToShelf{
    &.drag{
        background-color: $bluelighter;        
    }
}

// HOME //
#content{
    overflow: hidden;
    width: 100%;
    section{
        overflow: hidden;
        position: relative;
        &.blue{ 
            background-color: $bluedark; 
            .section-title{ background-color: $bluelight; }
        }
        &.teal{ 
            background-color: $tealdark; 
            .section-title{ background-color: $teallight; }
        }
        &.gray{ 
            background-color: $graydark; 
            .section-title{ background-color: $graylight; }
        }
    }
    .page-title{
        width: 100%;
        float: none;
        position: relative;
    }
    .section-title{
        text-align: center;
        height: 100%;
        position: absolute;
        @extend .column;
        @extend .large-3;
    }
    .section-title,.page-title{
        h1,h2,h3,h4{ 
            font-size: 23px;
            @include vertical-align();
            margin:0px;
        }
    }

    .page-submenu{
        overflow: hidden;

        &.blue{ background-color: $bluelight; }
        h1,h2,h3,h4{ 
            margin:0px;
        }

        .btn-panel{
            width: 80%;
            margin: 10px auto;
        }
    }

    .page-title{
        @media #{$large-up} {
            height: 90px;
        }
    }

    .section-content, .page-content{
        min-height: 250px;
        @extend .column;
        @extend .large-9;
        form{ padding: 35px 0px; overflow: hidden; }
    }
}

.postfix{
    background-color: $pinklight;
    border: 1px solid white;
    padding: 0px;
    min-width: 70px;
    transition:all .3s ease-out;

    &:hover{
        background-color: $pinkdark;
    }

    .fa-caret-down {
        margin-right: 20px;
    }
}

/// END HOME ///


/// UPLOAD ///

.dropzone.dz-complete{ 
    .upload-info{  
        width: 100%;
        overflow: hidden;
    }

    .upload-cover{
        border: 1px solid white;
        width: 100%;
    }

    b{
        float: left;
        margin-right: 15px;
        margin-top: 7px;
        width: 80px;
    } 
    input{
        width: auto;
        width: 230px;
        float: left;
        margin-right: 15px;
        transition: all .3s;
        cursor: text;
        &[disabled]{
            border: 1px solid transparent;
            border-bottom-color: white;
            box-shadow: none;
            background-color: transparent;
            cursor: default;
        }
    }

    .fa-pencil{
        margin-top: 7px;
        cursor: pointer;
    }
}

/// END UPLOAD ///
.shelf .cover{ width: 70%; }
.book .cover{ width: 60%; }
.book, .shelf{
    width: 220px;
    height: 220px;
    margin: 12px auto;
    padding: 10px;
    text-align: center;
    float: none;

    .cover{
        height: 70%;
        margin-bottom: 10px;

    }
    p{
        color: $contrast;
        margin: 0;

        &.author{ font-size: 13px; }
    }

    @media #{$medium-up} {
        float: left;
    }
}

.book{
    position: relative;
    .remove{
        opacity: 0;
        color: white;
        position: absolute;
        padding: 7px;
        background-color: $pinklight;
        font-size: 18px;
        right: 34px;
        top: 0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        z-index: 1;
        transition: all .3s;
        cursor: pointer;
    }
    &:hover .remove{ opacity: 1; }

    .cover{ 
        border: 1px solid $contrast; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .3s ease-out;
        opacity: 0.5;
    }
    &:hover{
        background-color: $bluelight;
        .cover{ 
            opacity: 1;
            background-size: contain;
        }
    }
    .cover.drag{ border:none; }
}

.shelf {
    .cover{
        border-radius: 50%;
        background-image: url('/src/img/icon-shelf.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        background-color: $teallight;
    }
    &:hover{
        background-color: $tealdark;
    }
}

#page-book{
    .page-content.blue .book{
        width: 100%;
        text-align: left;
        img.cover{
            height: 100%;
            width: auto;
            float: left;
            margin-right: 15px;
            opacity: 1;
        }
        .title{  
            font-size: 45px;
        }
        .author{
            font-size: 18px;
        }
    }
}


/*
* Página de Leitura - Read
*
*/
#read{
    .row { width: 1300px; max-width: 1300px; position: relative; }
    .area{
        padding: 15px;
        overflow: hidden;
        height: 100%;
        float: left;
        font-family: Raleway;
        font-size: 13px;
        height: 50px;
    }

    #menu{
        background-color: $read;
        height: 70px;
        width: 100%;
        padding: 10px;
        overflow: hidden;
        @include transition(height,.3s);
        &.expand{
            height:130px;
            background: #a41821;
            background: -moz-linear-gradient(top,  #a41821 0%, #ba313a 100%);
            background: -webkit-linear-gradient(top,  #a41821 0%,#ba313a 100%);
            background: linear-gradient(to bottom,  #a41821 0%,#ba313a 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a41821', endColorstr='#ba313a',GradientType=0 );
        }
        .mais{
            width: calc(100% - 71px);
            overflow: hidden;
            margin-left: 71px;
            padding-top: 10px;
            display: block;       
        }
        .menu-icon{
            height: 50px;
            width: 70px;
            text-align: center;
            padding: 8px 0px;
            float: left;

            i{
                background: $readlight;
                border-radius: 50%;
                width: 34px;
                height: 34px;
                padding: 8px;
                font-size: 19px;
                cursor: pointer;
            }
        }
        .menu-title{
            border-right: 1px solid white;
            margin-left: 15px;
            height: 50px;
        }
        .menu-title-options{
            width: 185px;
            .font-size{ 
                font-weight: bold;
                margin-left:10px; 
                cursor: pointer;
                &.bigger{
                    font-size: 16px;
                }
            }
        }
        .align{
            margin-top: -5px;
            .fa{
                font-size: 18px;
                margin-right: 15px;
            }
            span{
                display: inherit;
                font-size: 12px;
                margin: -3px 13px;
            }
            .radio,.check{ margin-top:-10px; margin-bottom: 5px; }
        }
        .menu-button{
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            float: right;
            &:hover{ background: $readlight; }
            i{ margin-right:10px; }
        }

        .radio{
            overflow: hidden;
            span{
                text-transform: uppercase;
                display: inline;
                float: left;
                padding:4px 10px;
                margin: 0;
                font-size: 12px;
                cursor:pointer;
                &.active { background-color:$readlight; }
            }
        }
    }
    #book{
        height: calc(100% - 70px);
        width: 100%;
        background-color: #FFF;
        position: relative;
        transition:background-color .3s;
        title{ display:none; }
        &.night{
            background-color: #222;
            .book-title{ color:#D1D1D1; border-bottom-color: #1C1C1C; }
            #pages { 
                p{ color:#D1D1D1; }
                h1,h2,h3,h4,h5{ color:#D1D1D1; }
            }
        }
        .navigation{
            padding: 25px 20px;
            position: absolute;
            right:0px;
            z-index: 10000;
            i{ 
                border-radius: 50%;
                background-color: $read;
                width: 34px;
                height: 34px;
                padding: 8px 9px;
                font-size: 19px;
                cursor:pointer;
                &:hover { background-color: $readlight; }
                &.fa-arrow-right{ margin-left: 20px; }
            }
        }
        .book-title{
            color: #404040;
            font-weight: 100;
            width: calc(100% - 40px);
            font-size: 30px;
            border-bottom: 5px solid #EDEDED;
            margin: 30px auto;
            overflow: hidden;
            position: relative;
        }
        .scroll-pages{
            overflow-y: scroll;
            overflow-x: hidden;
        }
        #pages {
            padding: 20px;
            height: calc(100% - 130px);
            color:#404040;
            h1, h2, h3, h4,h5,h6{ color:#404040; }
            &.hover p:hover{
                padding: 35px 0px;
            }
            p{
                transition: all .3s;
                color: #404040;
                font-family:'Raleway';
                text-align: justify;
                line-height: 24px;
                &.quoted{
                    background: #EFEFEF;
                    padding:20px;
                    margin-top:-10px;
                    margin-left:-10px;
                    cursor:pointer;

                    &.open{ 
                        box-shadow: 0px 0px 3px darkgray; 
                        quotes: "\201C""\201D""\2018""\2019";
                        position: relative;
                        text-indent: 50px;
                        font-style: italic;
                        cursor:default;
                        &:before {
                            content: open-quote;
                            font-family: 'Times New Roman';
                            font-size: 70px;
                            position: absolute;
                            margin-left: -100px;
                            margin-top: 10px;
                            color: gray;
                        }

                        .text{ 
                            font-style: normal;
                            text-indent: 0;
                            padding-top: 10px;
                            font-weight: 500;
                            border-top: 1px solid silver;
                            margin-top: 10px;
                            margin-bottom: 50px;
                        }

                        .close{
                            font-style: normal;
                            text-align: center;
                            position: absolute;
                            width: 100%;
                            left: 0;
                            bottom: 0px;
                            padding: 5px;
                            background-color: #E7E7E7;
                            color: #A1A1A1;
                            font-size: 12px;
                            cursor: pointer;
                            text-indent: 0px;
                            &:hover{ background-color: #D8D8D8; color: #909090; }
                        }
                    }
                }
            }
        }
    }
    .read-percentage {
        height: 5px;
        background-color: #009ACF;
        width: 0px;
        z-index: 1000;
        position: absolute;
        top: 75px;
        left: 20px; 
        max-width: calc(100% - 40px);
    }
}

#inside-read{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    .row { width: 1300px; max-width: 1300px; position: relative; }
}
p{  font-size: 15px; }

.selection-box {
    display:none;
    transform: translateY(-50%);
    background-color: $read; 
    text-transform: uppercase;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    cursor:pointer;
}

.selection-box:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 100%;
    width: 0;
    height: 0;
    border-color: transparent $read transparent transparent;
    border-style: solid;
    border-width: 10px;
}
.selection-box:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    right: 100%;
    width: 0;
    height: 0;
    border-color: transparent $read transparent transparent; 
    border-style: solid;
    border-width: 11px;
}

.reveal-modal.read{
    background-color:$read;

    h3{
        text-align: left;
        font-size: 24px;
        font-weight: 500;
    }
    .quote{
        font-size: 14px;
        padding: 15px;
        background: rgb(225, 225, 225);
        color: #676767;
        margin-bottom: 15px;
        font-style: italic;
        text-indent: 50px;
        quotes: "\201C""\201D""\2018""\2019";

        &:before {
            content: open-quote;
            font-family: 'Times New Roman';
            font-size: 70px;
            position: absolute;
            margin-left: -105px;
            margin-top: -28px;
        }
        &:after{
            content: close-quote;
            font-family: 'Times New Roman';
            font-size: 70px;
            position: absolute;
            margin-left: -20px;
            margin-top: -25px;
        }

    }
}
